# Python 관련 파일
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/

# 모델 폴더와 관련 파일 제외
models/
*.bin
*.gguf

# 로그 파일
logs/
*.log

# Docker 관련
.dockerignore

# 기타 시스템 파일
.DS_Store
.env
.venv
.idea/
.vscode/ 